footer.mdl-mini-footer
      .mdl-mini-footer__left-section
        .mdl-logo Title
        ul.mdl-mini-footer__link-list
          li
            a(href='#') Help
          li
            a(href='#') Privacy & Terms
