link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet', href='https://code.getmdl.io/1.1.1/material.indigo-pink.min.css')
link(rel="stylesheet" href="css/style.css")
script(src='https://code.getmdl.io/1.1.1/material.min.js')
link(rel='icon', type='image/png', href='http://lorempixel.com/600/337/nature/')
script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css")
